.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2148c0;
  height: 100vh;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-input,
.edit-textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.edit-textarea {
  height: 150px;
}

.edit-submit-btn {
  background-color: #2148c0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
